* {
    /* 全局配置 */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align: center;
    background:  rgba(192, 255, 246, 0);
    flex-direction: column;
}

button {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #6262ad6e;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    -moz-appearance: none;
    display: inline-block;
    font-family: Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft YaHei, sans-serif, Noto Sans CJK SC, Code2001, Code2002;
    font-weight: 400;
    margin: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s ease-out;
}

button:hover {
    background-color: #6262ad61;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}

.hidden {
    display: none;
    transition: 0.5s;
}

.container {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 7.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "l-navbar tips tips" "l-navbar file file" "l-navbar file file";
}

.l-navbar {
    grid-area: l-navbar;
}

.tips {
    grid-area: tips;
}

.file {
    grid-area: file;
}

.tips h1 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
    /* 大写 */
    text-transform: uppercase;
    color: #6161b167;
    /* 字间距 */
    letter-spacing: 4px;
}

.con-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

:root {
    --nav-width: 92px;
    /* 自定义颜色 */
    --first-color: #c1e9c877;
    --bg-color: #db714497;
    --sub-color: #b6cefc;
    --white-color: #fff;
    /* 规定一下字体 */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --smal-font-size: 0.875rem;
    /* 设置一下z-index级别 */
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    line-height: inherit;
    text-decoration: none;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    /* 100%的窗口高度 */
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    /* padding: 1.5rem 1,5rem 2rem; */
    transition: 0.5s;
    z-index: var(--z-fixed);
    border-radius: 0px 30px 30px 0px;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 溢出隐藏 */
    overflow: hidden;
}

.nav_brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav_toggle {
    font-size: 1.25rem;
    padding: 0.75rem;
    /* 鼠标放上变小手 */
    cursor: pointer;
}

.nav_logo {
    color: var(--white-color);
    font-weight: 600;
}

.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 0.75rem;
    padding: 0.75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav_link:hover {
    background-color: var(--first-color);
}

.nav_icon {
    font-size: 1.25rem;
}

.nav_name {
    font-size: var(--smal-font-size);
}

.expander {
    width: calc(var(--nav-width) + 9.25rem);
}

.body-pd {
    padding: 2rem 0 0 16rem;
}

.active {
    background-color: var(--first-color);
}

.collapse {
    /* grid-template-columns: 20px max-content 1rf; */
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5s;
}

.showCollapse {
    display: block;
}

.rotate {
    transform: rotate(180deg);
}

.form {
    left: 50%;
    top: 0;
    flex-direction: row
}

.drop-area {
    height: 45vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #8b758e;
    border: 6px dashed #a99dbd;
    border-radius: 16px;
    user-select: none;
}

.upload-icon {
    color: #6161b1;
    font-size: 80px;
}

.tip {
    font-size: 30px;
}

.task-list {
    height: 40vh;
    margin-top: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #502e6c80;
    padding: 16px;
    position: relative;
}

.list-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
    line-height: 45px;
}

.row {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    width: auto;
    background-color: #e2e2f6;
    border-radius: 10px;
}

.column {
    float: left;
    padding-left: 1.07143rem;
    padding-right: 1.07143rem;
    position: relative;
}

.large-9 {
    width: 28.125%;
}

.large-6 {
    width: 18.75%;
}

.large-5 {
    width: 15.625%;
}

.large-4 {
    width: 37.5%;
}

.left {
    float: left !important;
}

input[type="checkbox"].left {
    margin-top: 17px;
}

input[type="checkbox"] {
    margin-left: 3px;
    margin-right: 10px;
}

span {
    word-break: normal;
}

.resource {
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 0;
    cursor: pointer;
}

#welcome {
    margin: 50px;
}

.file-show {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
    line-height: 45px;
}

.fun {
    padding: 7px;
    margin-right: 10px;
    transform: translateY(20%);
    position: relative;
}