<!-- 注意！该html仅作为发送邮件时显示所用，不挂载在网页上 -->

<body style="height: 100vh; display: flex; justify-content: center; align-items: center; background: linear-gradient(200deg, #cbdcf5, #fce7ef);">
    <div class="show" style="font: size 12px;">
        <p>您好，</p>
        <p>欢迎使用中传放心传，您的验证码为：</p><br>
        <p style="font-size: 30px;"><strong>123</strong></p><br>
        <p>本验证码有效期为 5 分钟，仅可使用一次。</p>
        <p>您如果没有收到输入验证码要求，却收到了这封邮件？如果是这样，您的账号可能有安全隐患。请尽快更改您的密码</p>
        <p>thanks，</p>
        <p></p>
    </div>
</body>