<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot passwd</title>
    <link rel="stylesheet" href="/static/css/forgot.css">
</head>

<body>
    <div class="container">
        <div class="forgot-box">
            <div class="forgot-box-header">
                <h1>设置新密码</h1>
                <p>密码长度为8-16位，包含大小写字母和数字</p>
            </div>
            <div>
                <form action="{{url_for('set_password')}}" method="post" class="password-box">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入你的新密码">
                    </div>
                    <div class="form-box">
                        <button type="button" onclick="PWForm();">Finash</button>
                    </div>
                </form>
            </div>

        </div>
        <p id="user_email" hidden>{{ user_email }}</p>
    </div>

    {% for message in get_flashed_messages() %} {% if message%}
    <p hidden id="flash_mes">{{ message }} </p>
    {% endif %} {% endfor %}

    <layer id="loding" hidden>
        <div>
            <div class="loader">
                <div class="loader-inner">
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                    <div class="loader-line-wrap">
                        <div class="loader-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </layer>
</body>
<script src="static/js/jquery-3.2.1.slim.min.js"></script>
<script src="static/js/hashpwd.js"></script>
<script src="static/js/set_password.js"></script>

</html>